---
import "../styles/global.css";
import "../styles/theme.css";
import "../styles/scrollbar.css";
import '@fontsource-variable/roboto';
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import ImageWrapper from "../components/ImageWrapper.astro";
import { Icon } from "astro-icon/components";

---

<!doctype html>
<html lang="en" class="scroll-smooth" data-overlayscrollbars-initialize>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Chung Nghia's Portfolio</title>
		<script>
			let isDarkTheme = localStorage.theme === "dark" || (!('theme' in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches);

			document.documentElement.classList.toggle("dark", isDarkTheme);

			const themeToggle = document.getElementById("theme-toggle") as HTMLInputElement;
			if (themeToggle) {
				themeToggle.checked = isDarkTheme;
				themeToggle.addEventListener("change", (e) => toggleTheme());
			}

			async function toggleTheme() {
				if (typeof localStorage !== "undefined" && typeof document !== "undefined") {
					isDarkTheme = !isDarkTheme;

					const theme = isDarkTheme ? 'dark' : 'light';
					localStorage.setItem('theme', theme);

					document.documentElement.classList.toggle('dark', isDarkTheme);
				}
			}
		</script>
	</head>
	<body class="font-display bg-(--page-bg)" data-overlayscrollbars-initialize>
		<div class="absolute -z-10 main-cover w-full">
			<!-- <Image
				src={Background}
				alt="background"
				class:list={["object-cover object-bottom size-full"]}
				position="center"
			></Image> -->
			<ImageWrapper
				src="/src/assets/images/bg.jpg"
				alt="background"
				class:list={["object-cover object-bottom size-full"]}
			/>
		</div>
		<div class="absolute -z-5 main-cover w-full bg-black/20 backdrop-blur-xs"></div>
		<div class="absolute z-10 pointer-events-none main-cover w-full">
			<a href="#" class="pointer-events-auto absolute right-6 bottom-6 text-white text-sm px-4 py-2 bg-white/15 rounded-full group hover:pr-10 active:bg-white/20 transition-all">
				<div>NEO TOKYO NOIR 01</div>
				<Icon name="fa6-regular:share-from-square" class="absolute right-4 top-2.5 ms-2 opacity-0 group-hover:opacity-100 transition-all" />
			</a>
		</div>
		<div class="relative h-dvh pointer-events-none z-10 sm:w-[90%] sm:max-w-5xl mx-auto">
			<Navbar />
		</div>
		<div class="absolute top-0 w-full">
			<div class="w-[90%] sm:max-w-5xl mx-auto">
				<slot />
				<Footer />
			</div>
		</div>
	</body>
</html>
<script>
import "overlayscrollbars/overlayscrollbars.css"
import { 
  OverlayScrollbars, 
  ScrollbarsHidingPlugin, 
  SizeObserverPlugin, 
  ClickScrollPlugin 
} from 'overlayscrollbars';
import PhotoSwipeLightbox  from "photoswipe/lightbox";
import "photoswipe/style.css"

function initOverlayScrollbar() {
	const bodyElement = document.querySelector('body');
	if (!bodyElement) return;
	const instance = OverlayScrollbars(
		{
			target: bodyElement,
			cancel: {
				nativeScrollbarsOverlaid: true,
			}
		}, {
		scrollbars: {
			theme: 'scrollbar-base scrollbar-auto px-2',
			autoHide: 'move',
			autoHideDelay: 500,
			autoHideSuspend: false,
		},
	});
}

function setup() {
	const navbar = document.querySelector("#main-navbar");
	addEventListener("scroll", (e) => {
		if (navbar) {
			if (document.documentElement.scrollTop > 120) {
				navbar.classList.add("navbar-mini");
			} else {
				navbar.classList.remove("navbar-mini");
			}
		}
	})
}

function initPhotoSwipe() {
	const lightbox = new PhotoSwipeLightbox({
		gallery: ".project-photo",
		pswpModule: () => import("photoswipe"),
		wheelToZoom: true,
		padding: { top: 30, bottom: 30, left: 30, right: 30 },
	});
	lightbox.addFilter("domItemData", (itemData, element) => {
		if (element instanceof HTMLImageElement) {
			itemData.src = element.src

			itemData.w = Number(element.naturalWidth || window.innerWidth)
			itemData.h = Number(element.naturalHeight || window.innerHeight)

			itemData.msrc = element.src
		}

		return itemData
	})
	lightbox.init();
}

initOverlayScrollbar();
setup();
initPhotoSwipe();
</script>