---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<div class="flex-1 w-[90%] sm:max-w-[960px] mx-auto">
			<Navbar />
            <div class="mt-8">
                <slot />
            </div>
        </div>
	</body>
</html>
